/*Folha de estilo do site individual HTML, CSS e JavaScript*/
@import "./cores.scss";

//css reset
*{
    margin: 0;
    border: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    size: 1em; //1em equivale a 16px
}
/*Layout*/
.Container{
    margin: 0 auto;
    
}

.Flex{
   display: flex; 
   justify-content: space-between;
     
}
/* Topo fixar o topo no canto inferior direito */
#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
header{
    background-color: $fontDefaultColor;
    
}
/*Smartphone Portrait >>>>>>>>>>>>>>>>>*/

/*cabeçalho*/
header{
    height: 60px;
    #logo{
        img{    
            width: 128px; 
            height: 128px;         
        }
    }
    nav{
        ul{
            list-style: none;
            background-color: #343538;
            height: 100vh;
            position: fixed;
            top: 60px;
            right: -100%;
            width: 100%;
            transition: all 0.5s;
            
            li{
                padding: 20px;
                border-bottom: 1px solid #a9a9a9;

                a{
                    text-decoration: none;
                    color:$fontSecondaryColor;
                }
            }
        }
        
    }
}
#check{
    display: none;
}
label{
    color: $fontSecondaryColor;
    font-size: 2.5em;
    padding-right: 15px;
}
#check:checked ~ ul{
    right: 0;
}

/*Smartphone Landscape resoluções superiores a 576px >>>>>>>>>>>>>>>>*/
@media(min-width: 576px){

    /*layout*/
    .Container{
        max-width: 540px;
    }
}
/*Tablet Portrait >>>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 768px){
     
    /*layout*/
    .Container{
        max-width: 720px;
    } 
}
/*Tablet Landscape >>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 992px){
   
    /*layout*/
    .Container{
        max-width: 960px;
    } 
}
/*PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 1200px){

    /*layout*/
    .Container {
        max-width: 100%;
    }
    .Flex {
        width: 100%;
    }

    /* Cabeçalho */
    header{
        height: 130px;
        #logo{
            img{    
                width: 260px; 
                height: 260px;      
                padding-left: 10px;  
            }
        }
        nav{
            ul{
                position: static;
                height: auto;
                background-color: transparent;
                margin-top: 50px;
                padding-right: 20px;


                li{
                    float: left;
                    border: 0;

                    a{
                       font-size: 2em; 
                    }
                    a:hover{
                        color: #656568;
                    }
                }
            }
        }
    }
    
    label{
        display: none;
    }
    
}