/*Folha de estilo do site individual HTML, CSS e JavaScript*/
@import "./cores.scss";

//css reset
*{
    margin: 0;
    border: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    size: 1em; //1em equivale a 16px
}
/*Layout*/
.Container{
    margin: 0 auto;
    
}

.Flex{
   display: flex; 
   justify-content: space-between;
     
}
.Flex2{
    display: flex;
    align-items: center;
}

.Botao{
    text-decoration: none;
    color:$fontSecondaryColor;
    font-size: 1.3em;
    font-weight: 700;
    background-color:$fontDefaultColor;
    padding: 10px 40px;
    border-radius: 25px;
}
/* Topo fixar o topo no canto inferior direito */
#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
header{
    background-color: $fontDefaultColor;   
}

main{
    .htmlColor{
        color: $primaryHtmlColor;
    }
    .cssColor{
        color: $primaryCssColor;
    }
    .jsColor{
        color: $primaryJsColor;
    }
}
/*Smartphone Portrait >>>>>>>>>>>>>>>>>*/

/*cabeçalho*/
body{
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
        margin: 20px 0px 50px 0px;
        font-weight: bold;
    }
    h3{
        font-size: 1.1em;   
    }
    p{
        margin: 20px 10px 50px 10px;
        font-weight: bold;
        text-align: justify;
        font-size: 1em;
         
    }
}
header{
    height: 60px;
    #logo{
        img{    
            width: 128px; 
            height: 128px;         
        }
    }
    nav{
        ul{
            list-style: none;
            background-color: #343538;
            height: 100vh;
            position: fixed;
            top: 60px;
            right: -100%;
            width: 100%;
            transition: all 0.5s;
            
            li{
                padding: 20px;
                border-bottom: 1px solid #a9a9a9;

                a{
                    text-decoration: none;
                    color:$fontSecondaryColor;
                }
            }
        }
        
    }
}
#check{
    display: none;
}
label{
    color: $fontSecondaryColor;
    font-size: 2.5em;
    position: fixed;
    top: 5px;
    right: 15px;
    //color: rgba(0,0,0,0.5);
}
#check:checked ~ ul{
    right: 0;
}
main{
    height: 75vh;
    background: url(../img/Destaque_o20.png);
    background-size: cover;
    background-position: center; //posiciona a imagem do background no centro
    color: $fontDefaultColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

#html{
    background-color: $secondaryHtmlColor;
    .Container{
        padding: 50px 20px 100px 20px;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}

#css{
    background-color: $secondaryCssColor;
    .Container{
        padding: 50px 20px 100px 20px;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    
    }
}
#javascript{
    background-color: $secondaryJsColor;
    .Container{
        padding: 50px 20px 100px 20px;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}
.imgSobre{
    height: 150px;
   
}

/*Smartphone Landscape resoluções superiores a 576px >>>>>>>>>>>>>>>>*/
@media(min-width: 576px){

    /*layout*/
    .Container{
        max-width: 540px;
    }
    h1{
        padding-top: 50px;
    }
    

}
/*Tablet Portrait >>>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 768px){
     
    /*layout*/
    .Container{
        max-width: 720px;
    } 

    /* Destaque */
    main{
        height: 45vh;
        h1{
            font-size: 4em;
        }
        h2{
            font-size: 2em;
        }
    }
}
/*Tablet Landscape >>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 992px){
   
    /*layout*/
    .Container{
        max-width: 960px;
    } 

    /* Destaque */
    main{
        height: 70vh; // 70% da pagina
    }
}
/*PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 1200px){

    /*layout*/
     
    .Container {
        max-width: 100%;

    }
    .Flex {
        width: 100%;
    }
    

    /* Cabeçalho */
    header{
        height: 130px;
        #logo{
            img{    
                width: 260px; 
                height: 260px;      
                padding-left: 10px;  
            }
        }
        nav{
            ul{
                position: static;
                height: auto;
                background-color: transparent;
                margin-top: 50px;
                padding-right: 20px;


                li{
                    float: left;
                    border: 0;

                    a{
                       font-size: 2em; 
                    }
                    a:hover{
                        color: #656568;
                    }
                }
            }
        }
    }
    
    label{
        display: none;
    }
    main{
        h1{
            font-size: 5em;
            padding-bottom: 50px;
            padding-top: 30px;
        }
        h2{
            font-size: 3em;
        }
        
    }
    #html{
        h2{
            font-size: 4em;
            margin: 20px 0px 50px 0px;
            font-weight: bold;
        }
        h3{
            font-size: 2.5em;   
        }
        p{
            margin: 20px 10px 50px 10px;
            font-weight: bold;
            text-align: justify;
            font-size: 1.5em;
             
        }
        .Container{
            padding: 50px 200px 100px 200px;
            flex-direction: row;
            justify-content: center;
            text-align: center;
        
        }	
    }
    
    .imgSobre{
        display: inline;
        height: 300px;
        
    }

    #css{
        h2{
            font-size: 4em;
            margin: 20px 0px 50px 0px;
            font-weight: bold;
        }
        h3{
            font-size: 2.5em;   
        }
        p{
            margin: 20px 10px 50px 10px;
            font-weight: bold;
            text-align: justify;
            font-size: 1.5em;
             
        }
        .Container{
            padding: 50px 200px 100px 200px;
            flex-direction: row-reverse;
            justify-content: center;
            text-align: center;
        
        }	
    }

    #javascript{
        h2{
            font-size: 4em;
            margin: 20px 0px 50px 0px;
            font-weight: bold;
        }
        h3{
            font-size: 2.5em;   
        }
        p{
            margin: 20px 10px 50px 10px;
            font-weight: bold;
            text-align: justify;
            font-size: 1.5em;
             
        }
        .Container{
            padding: 50px 200px 100px 200px;
            flex-direction: row;
            justify-content: center;
            text-align: center;
        
        }	
    }
    
    .Botao{
        font-size: 2em;
    }     

}